<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <% include src/parts/_head.ejs %>
    <title><%= title %> - <%= date %></title>
    <link rel="stylesheet" href="/posts/layout.css">
    <script src="/posts/layout.js" defer async></script>
</head>
<body>
    <% include src/parts/_nav.ejs %>
    <div class="post-container" dir="<%= dir %>">
        <h1><%= title %></h1>
        <table class="font-small">
            <tr class="publish-date">
                <td>تاريخ النشر:</td>
                <td><%= date %></td>
            </tr>
            <tr>
                <td>مدة القراءة:</td>
                <td class="reading-time"></td>
            </tr>
        </table>
        <div class="post-body">
            <%- body %>
        </div>
    </div>
    <% include src/parts/_footer.ejs %>
</body>
</html>